# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Production build
/.next/
/out/

# Local Environment Variables
.env.local
.env*.local

# Sensitive credentials
key.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Genkit state
.genkit/
